/* .modal__form-submit__button {
  position: relative;
  width: 252.88px;
  height: 65.02px;
  border-radius: 17.94px;
  border: 4.48px;
  background-color: #cf554e;
}

.modal__form-submit__text {
  font-family: Merriweather;
  font-size: 16.44px;
  font-weight: 700;
  line-height: 23.91px;
  color: #faf9ec;
}

.modal__form-submit__divider {
  position: absolute;
  width: 252.88px;
  height: 65.02px;
  border-radius: 17.94px;
  border: 4.48px;
  border: 4.48px solid #cf554e;
  top: 9px;
} */
