/* modal__form */
.modal__form {
  display: flex;
  flex-direction: column;
  gap: 7.47px;
}

.modal__form-group {
  width: 411.03px;
}

.modal__radio-group {
  display: flex;
  align-items: flex-start;
  gap: 8.97px;
  height: 57px;
}

.modal__radio-group__container {
  display: flex;
}

.modal__radio-group__button {
  width: 20.18px;
  height: 20.18px;
  border-radius: 2.99px;
  background-color: #e9e8d5;
}

.modal__radio-group__text {
  font-family: Roboto Flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  letter-spacing: -0.02em;
}

.modal__input {
  width: 411.03px;
  height: 47.04px;
  padding: 12.7px 14.2px 12.7px 14.2px;
  border-radius: 12px;
  background-color: #e9e8d5;
}

.modal__textarea {
  width: 411.03px;
  height: 167.4px;
  padding: 11.96px 14.2px 11.96px 14.2px;
  border-radius: 12px;
  resize: none;
  background-color: #e9e8d5;
}

.modal__form-submit {
  display: flex;
  justify-content: center;
  margin-top: 41.85px;
  flex-direction: column;
  align-items: center;
}

.modal__form-submit__button {
  width: 252.88px;
  height: 65.02px;
  border-radius: 17.94px;
  border: 4.48px;
  background-color: #cf554e;
}

.modal__form-submit__text {
  font-family: Merriweather;
  font-size: 16.44px;
  font-weight: 700;
  line-height: 23.91px;
  color: #faf9ec;
}

.modal__form-submit__divider {
  width: 252.88px;
  height: 65.02px;
  border-radius: 17.94px;
  border: 4.48px;
  border: 4.48px solid #cf554e;
  position: fixed;
  bottom: 30px;
}
