.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 74px;
  padding: 80px 128px 80px 128px;
  background-color: #faf9ec;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.header__navbar-item {
  /* Typography */
  font-family: Roboto Flex;
  font-size: 20px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
}
.header__navbar-item:hover {
  cursor: pointer;
}
