.footer {
  display: flex;
  width: 100%;
  background-color: #faf9ec;
  padding: 80px 128px 80px 128px;
  gap: 40px;
}

.footer__info-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer__info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer__text {
  /* Typography */
  font-family: Roboto Flex;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.02em;
  text-align: left;
}

.footer__text--address:hover {
  cursor: pointer;
}

.footer__text--email:hover {
  cursor: pointer;
}

.footer__text--contacts:hover {
  cursor: pointer;
}

.footer__text--rental-conditions:hover {
  cursor: pointer;
}

.footer__social {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer__social-media {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__social-icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.footer__social-icons:hover {
  cursor: pointer;
}
